POSTGRES_USER=postgres                # PostgreSQL username
POSTGRES_PASSWORD=s2labs              # PostgreSQL password
POSTGRES_DB=invoice_db                # Database name
POSTGRES_HOST=db                      # PostgreSQL host (use 'db' in Docker, 'localhost' locally)
POSTGRES_PORT=5432                    # PostgreSQL port
TMP_DIR=D:\s2labs\.temp\              # OS directory for temporary files
FASTAPI_PORT=8000                     # FastAPI server port
FASTAPI_HOST=0.0.0.0                  # FastAPI server host
DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}